/* 修改 盒模型 */
:root {
    box-sizing: border-box;
}
*,
::before,
::after {
    box-sizing: inherit;
}

/* rem em 响应式设计 */
:root {
    font-size: calc(0.5em + 1vw);
}

body {
    background-color: #eee;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.2;
}

/* 通用清除浮动方案 */
.clearfix::before,
.clearfix::after {
    content: ' ';
    display: table;
}

.clearfix::after {
    clear: both;
}
