@mixin one-line-ellipsis($width: 100%) {
    width: $width;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin multiple-line-ellipsis($line-clamp, $width: 100%) {
    width: $width;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line-clamp;
    overflow: hidden;
}
