body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
dd,
input,
textarea {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

em,
i {
    font-style: normal;
}

input,
button {
    border: 0;
}

input,
textarea {
    outline: none;
}
