// 通过继承实现 border-box
:root {
    box-sizing: border-box;
}
*,
::before,
::after {
    box-sizing: inherit;
}

// 小技巧 calc(0.5em + 0vw) 能够实现 8px 的字体大小
:root {
    font-size: calc(0.5em + 1vw);
    // font-size: calc(0.5em + 0vw);
}

body {
    background-color: #eee;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.2;
}

.clearfix::before,
.clearfix::after {
    content: ' ';
    // 防止容器子元素外边距折叠
    display: table;
}

.clearfix::after {
    // 清除浮动
    clear: both;
}
